/*****************TAG SELECTORS*****************/
hr {
  background-color: #F5EEDC;
  border-style: none;
  border-top-style: solid;
  border-top-style: 50px;
  width: 80%;
  border-color: Black;
}

footer {
  height: auto;
}

/*****************CLASS SELECTORS*****************/
.Banner {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #F5F2DB;
  position: relative;
  width: 100%;
  height: auto;
}

.Table1 {
  color: #9A0680;
  position: relative;
  width: auto;
  height: 20%;
  padding-left: 25%;
}

.Table2 {
  position: static;
  padding-left: 26.7%;
}

.H1 {
  color: #2EB086;
  text-align: center;
}

.Middle-container {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #F0ECE3;
  width: 100%;
  height: auto;
}

.Contact {
  position: relative;
  padding-left: 1.5%;
}

.Inquiry {
    padding-left: 12px;
    padding-right: 12px;
    top: 50vh;
    position: fixed;
    transform: rotate(-90deg);
    background-color: #C62A88;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 20px;
    margin-left: -18px;
    line-height: 40px;
}
.Contact-us {
  display: inline-block;
  padding: 0;
  margin: 0;
  background-color: #DDDDDD;
  text-align: center;
  width: 100%;
  height: auto;
}

.Footer-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 5px;
  border: 7px solid #d1d9e6;
  box-shadow: -7px -7px 12px #f7f7f9, 7px 7px 12px #c0c1c6;
}

.Footer-link:hover {
  box-shadow: -7px -7px 12px inset #f7f7f9, 7px 7px 12px inset #c0c1c6;
}

/*****************ID SELECTORS*****************/
